.container{
    width: 60%;
    border-radius: 10px;
    background: hsla(0, 0%, 100%, 0.775);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.image{
    height: 100px;
    width: 100px;
    background: grey;
}

.content{
    display: flex;
    column-gap: 10px;
}

.name{
    color: rgb(62, 174, 2);
}

.brand{
    color: royalblue;
}