.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: hsl(0, 0%, 19%);
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    top:0;
    left:0;
    right: 0;
    position: fixed;
}

.ulItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    list-style-type: none;
}

.ulItem li button{
    padding: 6px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background: grey;
    color: white;
    transition: 0.5s;
    z-index: 1;
    position: relative;
    transition: transform 0.5s ease;
}

.ulItem li button:hover{
    color: black;
}

.ulItem li button::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    top:0;
    left:0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.ulItem li button:hover::before{
    transition: transform 0.5s ease;
    transform: scaleX(1);
}

.ulItem li button:not(:hover)::before {
    transform-origin: right; 
    transform: scaleX(0);
}

.searchBar{
    display: flex;
    background: white;
    padding: 5px;
    border-radius: 20px;
}

.searchBar img{
    height: 20px;
}

.searchBar input{
    outline: none;
    font-size: 18px;
    width: 150px;
    border: none;
}

/* Dummy Commit 1 
Dummy commit 2
Dummy commit 3
Dummy commit 4
Dummy commit 5 
Dummy commit 6 
Dummy commit 7 
Dummy commit 8 
Dummy commit 9 
Dummy commit 10 
Dummy commit 11 
Dummy commit 12
Dummy commit 13 
Dummy commit 14 
Dummy commit 15
Dummy commit 16
Dummy commit 17 
Dummy commit 18
Dummy commit 19 
Dummy commit 20 
Dummy commit 21 
Dummy commit 22 
Dummy commit 23 
Dumny commit 24 
Dummy commit 25 
Dummy commit 26
Dummy commit 27 
Dummy commit 28 
Dummy commit 29
Dummy commit 30 
Dummy commit 31 
Dummy commit 32 
Dummy commit 33 
Dummy commit 34 
Dummy commit 35 
Dummy commit 36 
Dummy commit 37 
Dummy commit 38
Dummy commit 39 
Dummy commit 40 
Dummy commit 41
Dummy commit 42
Dummy commit 43 
Dummy commit 44
Dummy commit 45 
Dummy commit 46 
Dummy commit 47
Dummy commit 48
Dummy commit 49 
Dummy commit 50
Dummy commit 51 
Dummy commit 52 
Dummy commit 53 
Dummy commit 54
Dunmy commit 55 
Dummy commit 56 
Dummy commit 57 
Dummy commit 58
Dummy commit 59 
Dummy commit 60 
Dummy commit 61 
Dummy commit 62
Dummy commit 63 
Dummy commit 64
Dummy commit 65 
Dummy commit 66
Dummy commit 67 
Dummy commit 68 
Dummy commit 69 
Dummy commit 70
Dummy commit 71 
Dummy commit 72 
Dummy commit 73 
Dummy commit 74 
Dummy commit 75 
Dummy commit 76 
Dummy commit 77 
Dummy commit 78
Dummy commit 79
Dummy commit 80 
Dummy commit 81
Dummy commit 82 
Dummy commit 83
Dummy commit 84
Dummy commit 85 
Dummy commit 86 
Dummy commit 87
Dummy commit 88
Dummy commit 89 
Dummy commit 90 
Dummy commit 91 
Dummy commit 92
Dummy commit 93
Dummy commit 94 
Dummy commit 95
Dummy commit 96 */
