.container{
    margin: 0px 10%;
    margin-top: 100px;
    border: 2px solid;
    height: 500px;
    display: flex;
}

.imgContainer{
    flex-basis: 40%;
    background: rgba(255, 255, 255, 0.726);
    padding: 10px;
}

.textContainer{
    padding: 10px;
}