.container{
    margin: 0px 10%;
    margin-top: 100px;
    border: 2px solid;
    height: 500px;
    display: flex;
}

.imgContainer{
    flex-basis: 40%;
    background: rgba(255, 255, 255, 0.726);
    padding: 10px;
}

.textContainer{
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    color: rgba(141, 255, 71, 0.785);
    font-size: 20px;
}

.brand{
    color:rgb(21, 82, 236);
}

.btn{
    cursor: pointer;
    font-size: 20px;
    margin: 2px;   
    padding: 2px; 
    border-radius: 5px;
    padding: 5px;
}

.Ubtn{
    cursor: pointer;
    font-size: 20px;
    margin: 2px;   
    padding: 2px; 
    background: rgba(141, 255, 71, 0.419);
    color: white;   
}